{
  "presets": [
    [
      "@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3
    }], 
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "jsx", "twig", "html", "php"],
      "plugins": ["line-numbers"],
      "theme": "tomorrow",
      "css": true
  }]
]
}
