//* colors *\\
$blue : #244F90;
$dark : #171A23;
$green : #57A500;
$yellow : #F6BF00;
$light : #ffedd2;

//* fonts *\\
$titles-font : 'Fredoka One', cursive;
$text-font: 'Baloo 2', cursive;

//* margin *\\
$margin-bloc: 2rem;

//* padding *\\
$padding-bloc: 1rem;

