//* colors *\\
$blue : #7dbff0;
$dark : #0c0d18;
$green : #5cfac6;
$yellow : #e9e7b6;
$violet : #ad92ff;
$pink : #e69bf9;
$light: white;
$gradient: linear-gradient(90deg, rgba(92,250,198,1) 0%, rgba(123,191,240,1) 20%, rgba(173,146,255,1) 60%, rgba(230,155,149,1) 80%, rgba(233,231,182,1) 100%);

//* fonts *\\
$nav-font : 'Bungee';
$text-font: 'Bungee Hairline';
$titles-font: 'Bungee Shade';
$text-size: 1.3em;

//* margin *\\
$margin-bloc: 2rem;

//* padding *\\
$padding-bloc: 1rem;

//'Bungee', cursive;
//'Bungee Hairline', cursive;
// 'Bungee Shade', cursive;
// 'Libre Barcode 39 Extended Text', cursive;
