@use 'reset';
@use 'vars';

body {
  font-family: vars.$text-font;
  color: vars.$light;
  background-color: vars.$dark;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
