@use '../../styles/vars';
.app {
  position: relative;
}
pre{
  border-radius: 0.1em;

}

@media (min-width: 1500px) {
  .app {
    display: flex;
    position: relative;
  }
  pre{
    border-radius: 0.1em;
    padding: 0.5em;
  }
}
