@use '../../styles/vars';

.me{
  font-family: vars.$barCode-font;
  font-size: 5rem;
  background-image: vars.$gradient;
  background-clip: text;
  color: transparent;
  margin: auto 0;
}

.header{
  width: 100%;
  font-family: vars.$nav-font;
  font-size: vars.$text-size;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem;

  // position: sticky;
  // z-index: 1;
  // top: 0;
  // background-color: vars.$dark;

  // border: 0.2rem dotted vars.$violet;
  // border-top: none;

  &-img{
    width: 10em;
  }
}

.nav{
  display: flex;
  // flex-direction: column;
  // align-items: center;

  &-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-image: vars.$gradient;
    background-clip: text;
    color: transparent;

    &-li{
      // margin: vars.$margin-bloc;
      padding: vars.$padding-bloc;

      &-x{
        font-family: vars.$text-font;
        font-size: xx-large;
        font-weight: 700;
      }
    }
  }
}

@keyframes rotate{
  0%{
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
  }
  100%{
    transform-origin: center;
    transform: none;
  }
}
