@import '../../styles/vars';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  padding: 1rem;
  background: $gradient;
  border-radius: 25% 25% 56% 17% / 0% 0% 34% 29%;
  z-index: 1;

  &-img {
    width: 5em;
  }
}

.nav {
  display: none;
}

.me {
  font-family: $titles-section-font;
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin-left: 2em;
}

@media (min-width: 500px) {
  .header {
    height: 10vh;

    &-img {
      width: 8em;
    }
  }

  .me {
    font-size: 2em;
  }
}

@media (min-width: 1000px) {

  .header {
    display: flex;
    font-family: $nav-font;
    font-size: $text-size;
    height: 16vh;

    &-img {
      width: 10em;
      margin-right: 5em;
    }
  }

  .nav {
    display: flex;

    &-links {
      display: flex;
      align-items: center;

      &-li {
        margin: $margin-bloc;

        &:hover {
          transform: scale(1.1);
          color: $green;
        }

        &-x {

          font-family: $titles-font;
          font-size: 1.7em;
          font-weight: 700;

          &:hover {
            text-shadow: none;
            transform: none;
          }
        }
      }
    }
  }

  .me {
    margin-left: 4em;
  }
}