@use '../../styles/vars';

.me{
  font-family: vars.$barCode-font;
  font-size: 3rem;
  background-image: vars.$gradient;
  background-clip: text;
  color: transparent;
  margin-bottom: 2em;
  text-align: center;
}

.header{
  width: 15%;
  height: 96.4vh;
  font-family: vars.$nav-font;
  font-size: vars.$text-size;
  
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  padding: 0.8rem;

  // position: sticky;
  // z-index: 1;
  // top: 0;
  background-color: vars.$dark;

  border-right: 0.2rem dotted vars.$violet;
  // border-top: none;

  &-img{
    width: 10em;
    margin-top: 2em;
  }
}

.nav{
  display: flex;
  margin-bottom: 1em;

  &-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-image: vars.$gradient;
    background-clip: text;
    color: transparent;

    &-li{
      margin: vars.$margin-bloc;
      // padding: vars.$padding-bloc;

      &-x{
        font-family: vars.$text-font;
        font-size: xx-large;
        font-weight: 700;
      }
    }
  }
}

@keyframes rotate{
  0%{
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
  }
  100%{
    transform-origin: center;
    transform: none;
  }
}
