@use '../../styles/vars';

.footer{
  background: vars.$gradient;
  width: 100%;
  position: absolute;
  bottom: -2em;
  &-text{
    text-align: center;
    font-family: vars.$text-font;
    color: vars.$dark;
    margin: 0.5em;
  }
}
