@use '../../styles/vars';

.footer{
  // background: vars.$gradient;
  width: 100%;
  position: fixed;
  bottom: 0;
  &-text{
    text-align: center;
    font-family: vars.$text-font;
    color: vars.$violet;
    margin: 0.5em;
  }
}
