@use '../../styles/vars';

.footer{
  margin-top: 2.2em;
  margin-bottom: 1em;

  &-nav{
    font-family: vars.$nav-font;
    font-size: .8em;
  
    &-links{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-image: vars.$gradient;
      background-clip: text;
      color: transparent;
  
      &-li{
        margin: .05em;
  
        &-x{
          font-family: vars.$titles-font;
          font-size: 2em;
          font-weight: 700;
        }
      }
    }
  }
}
@media (min-width: 800px){
  .footer{
    margin-top: .5em;
    margin-bottom: 0;
  
    &-nav{
      font-family: vars.$nav-font;
      font-size: 1em;
    
      &-links{
    
        &-li{
          margin: 0 .5em;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .footer {
    display: none;
  }
}
