@use '../../styles/vars';

.contactMe{
  font-size: vars.$text-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 2em;

  &-title{
    margin-top: 1em;
    font-size: .9em;
  }

  &-icones{
    display: flex;
    justify-content: space-around;
    &-fa{
      margin: .3em .5em 0 .5em;
      transition: 0.8s;
    }
  }
  &-avatar {
    margin-top: 0;
    & img{
      width: 15em;
    }
  }
}

@media (min-width: 1200px) {
  .contactMe{
    width: 85%;
  
    &-title{
      font-size: 1.6em;
    }
  
    &-icones{
      flex-direction: row;
      &-fa{
        margin: 1em 5em;

        &:hover{
          transform: scale(1.5);
          }
      }
    }
  }
}
