@use '../../styles/vars';

.contactMe{
  font-size: vars.$text-size;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;

  &-title{
    // display: flex;
    // font-family: vars.$titles-section-font;
    font-size: xx-large;
    // background-image: vars.$gradient;
    // background-clip: text;
    // color: transparent;
    // margin-bottom: 0.7em;
  }

  &-icones{
    display: flex;
    justify-content: space-around;
    &-fa{
      margin: 1em 5em;
      transition: 0.8s;
      
      &:hover{
      transform: scale(1.5);
      }
    }


  }
}
