@import '../../styles/vars';

.aboutMe{
  font-size: $text-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.dev-title{
  font-size: .8em;
}

.part{
  
  &-one-paragraph{
    font-family: $text-font;
    text-align: justify;
    color: $blue;
    font-weight: 400;
    line-height: 1.5em;
    text-justify: inter-word;
    font-size: 0.6em;
    margin: 2em 0.6em 2em 0.6em;
  }

  &-two{
    display: flex;
    flex-direction: column;
    font-family: $text-font;
    color: $blue;
    font-weight: 400;

    &-skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-words{

      &-single{
        background-image: $gradient;
        background-clip: text;
        color: transparent;

        margin: 0;
        line-height: 2em;
        text-align: center;
        font-size: 0.8em;
      }
    }

    &-icones{
      margin: 1em 0 1em 0;
    
      &-di{
        margin: 0.8em 0.2em 0 0.2em;
        transition: 0.5s;
        animation: iconesTranslate 3s infinite;

        &-group {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2){
          animation-delay: 0.1s;
        }
        &:nth-child(3){
          animation-delay: 0.2s;
        }
        &:nth-child(4){
          animation-delay: 0.3s;
        }
        &:nth-child(5){
          animation-delay: 0.4s;
        }
        &:nth-child(6){
          animation-delay: 0.5s;
        }
        &:nth-child(7){
          animation-delay: 0.6s;
        }
      }
    }

    &-cv{
      background: $gradient;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-start;
      width: 12em;
      height: 6.5em;
      padding-top: 1em;
      margin: .9em auto 0 auto;
      position: relative;

      &-carre1{
        background-color: black;
        height: 0.5rem;
        width: 0.5rem;
        position: absolute;
        top: 0.3em;
        left: 0.3em;
      }
      &-carre2{
        background-color: black;
        height: 0.5rem;
        width: 0.5rem;
        position: absolute;
        top: 0.3em;
        left: 0.9em;
      }
      &-carre3{
        background-color: black;
        height: 0.5rem;
        width: 0.5rem;
        position: absolute;
        top: 0.3em;
        left: 1.45em;
      }
      
      &-text {
        background: black;
        font-family: 'Press Start 2P';
        font-size: 3em;
        padding: 0.4em 0.75em;
        letter-spacing: -0.2em;

        & span{
          background-image: $gradient;
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .aboutMe{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
  }

  .part{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    &-one{
    
      &-paragraph{
        font-size: .9em;
      }
    }
  
    &-two {
      flex-direction: row;

      &-words{
        display: flex;
        margin-right: .1em;
      
        &-single{
          margin: 1em 0;
  
          &-title{
            width: 7.5em;
            font-size: 1em;
          }

          &:nth-child(2){
            margin-left: .5em;
          }
        }
      }
  
      &-icones{
        display: flex;
        align-items: center;
        margin-bottom: 0;
      
        &-di{
          margin: 1em 1.3em;
      
          &-title{
            width: 8em;
          }
          
          &:nth-child(2){
          margin: auto;
          margin-left: 1.2em;
          }
        }
      }

      &-cv{
        width: 10em;
        height: 6em;
        display: flex;
        align-items: center;
        margin-left: 1em;
    
        &-text{
          font-size: 2em;
          margin-top: .8em;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .aboutMe{
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
  
  .dev-title{
    font-size: 1.6em;
    margin-bottom: 4em;
  }
  
  .part{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
  
    &-one{

      width: 100%;
    
      &-paragraph{
        font-size: 1em;
        margin: 0 2em 1.5em 0;
      }
    }
  
    &-two {
      flex-direction: row;
      align-items: center;

      &-skills {
        align-items: flex-start;
      }

      &-words{
        display: flex;
        margin-right: 2em;
      
        &-single{
          margin: 1em 0.1em;
  
          &-title{
            width: 8em;
          }

          &:nth-child(2){
            margin-left: 1em;
          }
        }
      }
  
      &-icones{
        display: flex;
        align-items: center;
        margin-bottom: 0;
      
        &-di{
          margin: 1em 1.3em;
      
          &-title{
            width: 8em;
          }
          
          &:nth-child(2){
          margin: auto;
          margin-left: 1.2em;
        }
      }

       
      }

      &-cv{
        width: 18em;
        height: 11em;
        display: flex;
        align-items: center;
        margin: auto;
    
        &-text{
          font-size: 4em;
          margin-top: .8em;
        }
      }
    }
  }
}



@keyframes iconesTranslate {
  0%{
    transform: none;
  }
  5%{
    transform: translateY(-0.7em);
  }

  15%{
    transform: translateY(0.1em);
  }
  20%{
    transform: none;
  }
  100%{
    transform: none;
  }
}

@keyframes scaleCV {
  0%{
    transform: none;
  }
  25%{
    transform: none;
      
  }
  35%{
    transform: scale(1.04);
  }
  60%{
    transform: none;
  }
}
